/.DS_Store
*/.DS_Store
/.venv
/.env
/.env.local
/.env.*.local
/__pycache__
/app/__pycache__
/app/__pycache__/*
/app/.pytest_cache
/model-training/out*
app/__pycache__/__init__.cpython-311.pyc
app/static/.DS_Store
*.DS_Store
spacy/model-best-x-eff/.DS_Store
node_modules
.vscode/launch.json
.vscode/settings.json
.keys
chatvis-env/*
.ssl/*
chatvis2024/static
main_chatvis_original.js
app/static/js/chordDiagramd3v3.js
app/static/js/analisis - dynamic timing v1.js
