/* Global vars */
:root {
    --color-primary: #2cb983;
    --color-text-grey: #5c5c5c;
    --color-text-black: #2c2c2c;
    --color-text-white: #f8f9fa;
    --color-background: #f8f9fa;
    --color-nav-background: hsl(210, 17%, 95%);
    --color-grey: #717171;
    --color-light-grey: #dadada;
    --color-dark-grey: #363636;
    --color-almost-black: #1d1d1d;
    --color-primary-dark: #259f71;
}

body {
    background-color: var(--color-background) !important;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Oxygen, Ubuntu, Cantarell, 'Open Sans', Arial, sans-serif;
}

.navbar {
    background-color: var(--color-nav-background) !important;
    color: var(--color-text-grey) !important;
    border-bottom: 1px solid var(--color-light-grey);
}


#spinner-full-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(212, 212, 212, 0.487);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    visibility: visible;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: visibility 0ms ease-out 500ms, 
                backdrop-filter 500ms ease-out,
                opacity 500ms ease-out;
}

#spinner-full-page.hide-spinner {
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    opacity: 0;
    visibility: hidden;
}

#spinner-full-page .spinner-border {
    width: 4rem;
    height: 4rem;
}

#switchAdmin label:hover {
    background-color: var(--color-primary);
    color: var(--color-text-white);
    border-color: var(--color-primary-dark);
}

#switchAdmin label:active {
    background-color: var(--color-primary-dark);
}

.wrapper {
    border: 0px;
}

.text{
    color: var(--color-text-black) !important;
}

.text-primary {
    color: var(--color-primary) !important;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

a:active {
    color: var(--color-primary-dark) !important;
}

a:hover {
    color: #2cb983 !important;
}

a.btn:not(.chevron):hover {
    color: var(--bs-btn-hover-color) !important;
}

.btn-dark {
    background-color: var(--color-dark-grey) !important;
}

.btn-dark:hover,
.btn-outline-dark:hover {
    color: white !important;
    background-color: var(--color-primary) !important;
    border-color: var(--color-primary-dark) !important;
}

.btn-dark:active,
.btn-outline-dark:active {
    background-color: var(--color-primary-dark) !important;
}

.lead {
    font-family: inherit;
    font-weight: normal;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 45px;
    padding-left: 100px;
    padding-right: 100px;
}

nav a:hover {
    cursor: pointer;
}

nav a:active {
    color: var(--color-primary-dark) !important;
}

.der {
    border: 0px solid rgb(29, 29, 29);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 220px;
}

.hero {
    max-height: 40vh;
}

.overlay {
    background: linear-gradient(to top, var(--color-background) 90%, transparent 100%);
}

.title {
    /* font-size: 90px; */
    font-size: calc(3.475rem + 2.7vw);
    /* width: 550px; */
    font-weight: bold;
    color: var(--color-text-grey);
    margin-bottom: 0.3em;
    margin-top: 0.4em;
    hyphens: none;
}

.chevron {
    color: var(--color-text-black);
    font-size: 1.5em !important;
    border: 0px !important
}

.chevron:hover {
    color: var(--color-primary);
}

.chevron:active {
    color: var(--color-primary-dark);
}

.avance {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.25rem;
    width: 100%;
    height: 10px;
}

.recuadro {
    flex: 1;
    border-radius: 4px;
}

.recuadro-futuro {
    background-color: rgb(186, 186, 186);
}

.recuadro-coloreado {
    background-color: rgb(54, 54, 54);
}

.ReaderFile {
    background-color: white;
    width: 90vw;
    max-width: 750px;
    height: 70vh;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    /* Centra horizontalmente */
}

.ArrastrarArchivo {
    width: 90%;
    height: 65%;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.ArrastrarArchivo.drag-over {
    background-color: #f0f0f0;
}

.modal-footer {
    display: flex;
    justify-content: center;
}

.modal a {
    color: var(--color-text-grey);
    text-decoration: none;
}

.modal a:hover {
    color: var(--color-primary) !important;
    cursor: pointer;
}

ol li {
    margin-bottom: 0.7em;
}


/* Media query for medium size break */
@media (min-width: 768px) {
    .hero {
        max-height: unset;
    }
}

@media (min-width: 1500px) {
    .contenedor {
        padding: 45px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .title {
        font-size: 7.35rem;
        /* font-size: calc(1.475rem + 2.7vw); */
        /* width: 550px; */
        font-weight: bold;
        color: rgb(92, 92, 92);
        margin-bottom: 50px;
    }

    .subtitle {
        width: 670px;
        font-size: 20px;
    }

    .boton {
        margin-top: 50px;
    }

    .btn-dark {
        color: white;
    }

    .img {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 800px;
    }
}

@media (min-width: 100px) and (max-width: 1500px) {
    .contenedor {
        padding: 45px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }



    .subtitle {
        width: 560px;
        font-size: 16px;
    }

    .boton {
        margin-top: 50px;
    }

    /* .btn {
        font-size: 18px;
        width: 230px;
        /* color: white; */
    /* } */

    .btn-dark {
        color: white;
    }

    .img {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 600px;
    }
}