/* 
  CSS for charts in analisis page
*/

/* All display flex and box sizing */
/* {
  box-sizing: border-box;
}*/
/* body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background: #dddddd;
  border-radius: 12px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #b6b6b6;
} */

/* body {
  background-color: #f5f5f5;
	color: #000000;
	cursor: default;
} */


.card {
  background-color: #fff;
  border-width: 0px;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

#chord-card {
  z-index: 100;
  transition: color 0.2s ease-in-out;
}

#chord-card:hover {
  color: var(--color-light-grey);
}

.h-50vhi {
  height: 50vh !important;
}

.btn-close {
  /* Animate rotate */
  transition: transform 250ms ease-in-out;
}

.rotate-45 {
  transform: rotate(-45deg);
}

.progress {
  height: 2.4rem;
  border-radius: 1.22rem;
  background-color: var(--color-primary) !important;
}

.progress-bar {
  background-color: var(--color-primary) !important;
}

#histogram-canvas,
#histogram-progress-bar {
  transition: display 0.5s ease-in-out;
}
.title {
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 20px;
	font-size:32px;
	font-family: 'Oswald', sans-serif;
	color: #2B2B2B;
}

.texts {
	margin-left: 20px;
	margin-right: 20px;
	line-height: 140%;
}

.credit {
	color: #9E9E9E;
	font-size: 10px;
	margin-bottom: 0.5em;
}

.notes {
	color: #9E9E9E;
	font-size: 10px;
}

.popover {
	pointer-events: none;
}

#chart{
  display: flex;
  height: 90%;
  width: 90%;
  align-items: center;
  justify-content: center;
	font-family: 'Noto Sans', sans-serif;
	text-align: center;
  font-size: calc(min(0.8vw, 0.7em));
  font-weight: normal;
	fill: #2B2B2B;
  border: 0px solid black;
}

svg {
  overflow: hidden !important;
  transition: overflow 0.5s ease-in-out;
}

svg:hover {
  overflow: visible !important;
}

svg text {
  opacity: 0.4;
  font-size: small;
  transition: all 0.1s ease-out; 
}

svg text:hover {
  opacity: 1;
  font-size: medium;
}

#chat-container {
  overflow-y: hidden;
}

#chat::-webkit-scrollbar {
  width: 12px;
}

#chat::-webkit-scrollbar-thumb {
  background: #dddddd;
  border-radius: 12px;
}

#chat::-webkit-scrollbar-thumb:hover {
  background: #b6b6b6;
}

#chat {
  border: 0px solid rgba(224, 218, 208, 0.84);
  overflow: scroll;
  scroll-behavior: auto;
  overflow-x: hidden;
}

/* #bar-chart-container {
  background-color: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 16px;
} */



/* .mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
} */


.msg {
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
}
.msg .bubble {
  float: left;
  max-width: 75%;
  width: auto;
  height: auto;
  display: block;
  background: #fdfdfd;
  border-radius: 8px;
  position: relative;
  margin: 10px 0 3px 25px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.msg .bubble.alt {
  margin: 10px 25px 3px 0px;
  background: #DCF8C6;
  float: right;
}
.msg .bubble.follow {
  margin: 2px 0 3px 25px;
}
.msg .bubble.altfollow {
  margin: 2px 25px 3px 0px;
  background: #DCF8C6;
  float: right;
}
.msg .bubble .txt {
  padding: 8px 0 8px 0;
  width: 100%;
}
.msg .bubble .txt .name {
  font-weight: 600;
  font-size: 14px;
  display: inline-table;
  padding: 0 0 0 15px;
  margin: 0 0 4px 0;
  color: #3498db;
}
.msg .bubble .txt .name span {
  font-weight: normal;
  color: #b3b3b3;
  overflow: hidden;
}
.msg .bubble .txt .name.alt {
  color: #2ecc51;
}
.msg .bubble .txt .message {
  font-size: 14px;
  font-weight: 500;
  padding: 0 15px 0 15px;
  margin: auto;
  color: #2b2b2b;
  display: block;
}
.msg .bubble .txt .timestamp {
  font-size: 11px;
  margin: auto;
  padding: 4px 8px 6px 0;
  display: table;
  float: right;
  position: relative;
  color: #999;
}
.msg .bubble .bubble-arrow {
  position: absolute;
  float: left;
  left: -11px;
  top: 0px;
}
.msg .bubble .bubble-arrow.alt {
  bottom: 20px;
  left: auto;
  right: 4px;
  float: right;
}
.msg .bubble .bubble-arrow:after {
  content: "";
  position: absolute;
  border-top: 15px solid #fdfdfd;
  border-left: 15px solid transparent;
  border-radius: 4px 0 0 0px;
  width: 0;
  height: 0;
}
.msg .bubble .bubble-arrow.alt:after {
  border-top: 15px solid #DCF8C6;
  transform: scaleX(-1);
}

@media only screen and (max-width: 450px) {
  .timestamp {
    display: none;
    color: red;
  }
}

.timestamp {
  margin-top: 10px;
}

.bubble {
	min-width: 225px;
}

thead tr{
  display:block;
}

#boton:hover{
  background-color: #075e54;
}