/* 
  CSS for charts in analisis page
*/


.card {
  border-width: 0px;
  /* border-radius: 12px; */
  box-shadow: var(--color-shadow) 0px 0px 8px 4px;
}

#members-button {
  cursor: pointer;
  transition: color 150ms ease-out;
}

#members-button:hover {
  color: var(--color-primary);
}

#chat-messages-count-container {
  cursor: default;
} 

#chord-card {
  z-index: 100;
}

#chord-card:hover {
  overflow: visible !important;
}

#chord-chart-container {
  height: 100%;
  width: 100%;
}

#buttonDownloadChord {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
}

.card-header {
  transition: color 250ms ease-out;
}

.card-title-fade-color {
  color: #8080801c;
}

.h-60vhi {
  height: 60vh !important;
}

.btn-close {
  /* Animate rotate */
  transition: transform 250ms ease-in-out;
}

.rotate-45 {
  transform: rotate(-45deg);
}

.progress {
  height: 2.4rem;
  border-radius: 1.22rem;
  background-color: var(--color-primary) !important;
}

.progress-bar {
  background-color: var(--color-primary) !important;
}

#histogram-canvas,
#histogram-progress-bar {
  transition: display 0.5s ease-in-out;
}

#histogram-canvas {
  cursor: crosshair;
}

svg {
  overflow: visible !important;
  transition: overflow 0.5s ease-in-out;
}

svg.hoverable {
  overflow: hidden !important;
}

svg:hover {
  overflow: visible !important;
}

.chordLabel {
  fill: var(--color-text-black) !important;
  opacity: 0.4;
  font-size: small;
  transition: all 0.1s ease-out;
}

.chordLabel.duplicate {
  fill: var(--color-almost-white) !important;
  stroke: var(--color-almost-white) !important;
  stroke-width: 3px;
}

.chordLabel.hoverable:hover,
.chordLabel.duplicate.hoverable.hover {
  opacity: 1;
  font-size: medium;
  cursor: none;
  position: absolute;
  z-index: 999999 !important;
}

#chat-container {
  overflow-y: hidden;
  background-color: var(--color-background);
  background-image: url("../img/backgroundl2@2x.png");
  background-size: cover;
  background-position: center;
}

/* #chat::-webkit-scrollbar {
  width: 12px;
}

#chat::-webkit-scrollbar-thumb {
  background: #dddddd;
  border-radius: 12px;
}

#chat::-webkit-scrollbar-thumb:hover {
  background: #b6b6b6;
} */

#chat {
  display: flex;
  flex-direction: column;
  border: 0px;
  overflow: scroll;
  scroll-behavior: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

.msg {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
  height: auto;
  overflow: visible;
  padding-top: 1px;
  padding-bottom: 1px;
}

.bubble {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-self: flex-start;
  padding: 0.4rem;
  padding-right: 0.7rem;
  padding-left: 0.7rem;
  max-width: 75%;
  width: auto;
  height: auto;
  background-color: var(--color-bubble-background);
  border-radius: 12px;
  box-shadow: var(--color-msg-bubble-shadow) 0px 1px 2px 0px;
  font-size: small;
}

.bubble.system {
  background-color: var(--color-green);
  align-self: flex-end;
}

.bubble.first {
  margin-top: 0.5rem;
  border-top-left-radius: 0px;
}

.bubble.first.system {
  border-top-left-radius: 12px;
  border-top-right-radius: 0px;
}

.msg-bubble-name {
  display: flex;
  flex-direction: row;
  justify-content: start;
  font-weight: bold;
}

.bubble-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: x-small;
  margin-top: 0.1rem;
}

.bubble-timestamp {
  color: var(--color-text-light-grey);
}

/* #boton:hover{
  background-color: #075e54;
} */

@media (prefers-color-scheme: dark) {
  #chat-container {
    background-color: var(--color-darkmode-light-grey);
    background-image: url("../img/background07@2x-dark.png");
    background-size: cover;
    background-position: center;
  }
}