<div class="container pb-3 pb-sm-0 pt-4 w-100">
    <div class="row align-items-center justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-6">
            <div id="switchAdmin" class="btn-group w-100" role="group" aria-label="Selector: Análisis o Tabla de usuarios">

                <input type="radio" class="btn-check" name="btnradio" id="btnSwitchAnalisis"
                {{ 'checked' if switchTab == 'analisis' else '' }}
                />
                <label class="btn" for="btnSwitchAnalisis" onclick="redirectToAnalizador()">
                    <i class="fa-solid fa-chart-pie"></i> Análisis
                </label>

                <input type="radio" class="btn-check" name="btnradio" id="btnSwitchUsuarios"
                {{ 'checked' if switchTab == 'usuarios' else '' }}
                />
                <label class="btn" for="btnSwitchUsuarios" onclick="redirectToUsuarios()">
                    Usuarios <i class="fa-solid fa-user-group"></i>
                </label>
                
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/admin_tabbar.js') }}"></script>