<div class="container pb-3 pb-sm-0 pt-4 w-100">
    <div class="row align-items-center justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-6 usuarios-analisis-switch">
            <div class="btn-group w-100" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" />
                <label class="btn btn-outline-secondary" for="btnradio1" onclick="redirectToUsuarios()">
                    <i class="fa-solid fa-user-group"></i> Usuarios
                </label>
                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked />
                <label class="btn btn-outline-secondary" for="btnradio2" onclick="redirectToAnalizador()">
                    Analizador <i class="fa-solid fa-chart-pie"></i>
                </label>
            </div>
        </div>
    </div>
</div>