<!DOCTYPE html>
<html lang="es-MX">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">

  <!-- Estilos gráficas -->
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">

  <!-- Dependencias -->
  <!-- * D3: https://github.com/d3/d3 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
  <!-- * WhatsApp Chat Parser: https://github.com/Pustur/whatsapp-chat-parser -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/whatsapp-chat-parser/dist/whatsapp-chat-parser.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/whatsapp-chat-parser@4.0.0/dist/index.global.js"></script>
  <!-- * Google Fonts -->
  <!-- <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'> -->
  <link href='https://fonts.googleapis.com/css2?family=Noto+Sans' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>

</head>

<body>
  <header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <a class="navbar-brand" href="">Semantic Chatvis</a>
    </nav>
  </header>
  <main>
    <div class="container">
      <div class="row">
        <!-- Botón iniciar sin animaciones -->
        <div class="col">
          <div class="explanation texts" style="text-align: center;">
            <label for="whatsChatSinAnimaciones"
              style="width: 300px; border-radius: 5px;border: none; background-color: #4ab969;color: white;">Iniciar</label>
            <input style="display: none;" type="file" id="whatsChatSinAnimaciones">
          </div>
        </div>
      </div>
      </nav>
    </div>

    <div class="contenedor">
      <div class="texts">
        <div class="title">
          Analizador de datos
        </div>
        <div class="subtitle">
          ¡Descubre ChatVis, la solución revolucionaria para implementar análisis
          semántico en tus conversaciones en archivos .txt! Con nuestra avanzada
          tecnología, obtener información valiosa. Aumenta la precisión y eficiencia
          de tus análisis con nuestra plataforma intuitiva y fácil de usar. Potencia
          tu toma de decisiones, mejora tus estrategias y maximiza tus resultados.
        </div>

        <div id="instructions-section" class="row">

          <div class=" col-sm-12 ">
            <div class="explanation texts">
              <br>
              * Antes de iniciar, se le mostrará un diálogo de selección de archivo para que cargue el archivo
              exportado por
              WhatsApp
              <br> <br>
              ** Para chats con 12 o más contactos se ocultará la simulación del chat, se ampliará el diagrama
              y en vez de mostrar
              el nombre de los contactos se usará un ID para facilitar la visualización.
              <br>En la esquina superior izquierda se habilitará una tabla que indica que ID le corresponde a
              cada contacto.
            </div>
            <hr>
            <h2 class="texts">Ayuda</h2>
            <div class="explanation texts" style="text-align: center;">
              <br>
              <span type="file" id="exportarArchivo"
                style="width: 300px; border-radius: 5px; border: none; background-color: #4ab969;">
                <a style="color:white;" href="https://faq.whatsapp.com/es/android/23756533/" target="_blank">
                  Link: Cómo exportar un chat de WhatsApp
                </a>
              </span>
              <br> <br>
            </div>
            <hr>
            <div class="credit texts">Basado en el trabajo de <a
                href="http://bl.ocks.org/nbremer/864b11eb83aac3a1f6a2">Nadieh
                Bremer</a> | <a href="http://www.visualcinnamon.com/">VisualCinnamon.com</a></div>
            <div class="notes texts">
              Bibliotecas usadas:
              <ul>
                <li><a href="https://jquery.com/">jQuery</a></li>
                <li><a href="https://fonts.google.com/">Google Fonts</a></li>
                <li><a href="https://github.com/Pustur/whatsapp-chat-parser">WhatsApp Chat Parser</a></li>
                <li><a href="https://d3js.org/">D3.js</a></li>
                <li><a href="https://getbootstrap.com/">Bootstrap</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
      <div class="img">
      </div>
    </div>


  </main>
  <footer>
    <!-- place footer here -->
  </footer>

  <!-- * jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <!-- Bootstrap Javascript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="/static/js/bootstrap.tooltip.js"></script>
  <script src="/static/js/bootstrap.popover.js"></script>

  <script src="/static/js/chordDiagram.js"></script>
  <script src="/static/js/main.js"></script>

  <!-- Extras -->
  <script src="/static/js/d3.layout.chord.sort.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  <!-- Sweet alert -->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</body>

</html>