<!DOCTYPE html>
<html lang="es-MX">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- CSS de Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- CDN de FontAwesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <!-- ReCAPTCHA v3 -->
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <!-- Default custom style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
</head>

<body>
    <!-- Navbar -->
    {% include "navbar.html" %}

    <!-- Contenido -->
    <div class="container">
        <!-- Encabezado con botones y título -->
        <div class="row d-flex flex-row align-items-center pt-5 pb-3 pb-md-4 justify-content-between">
            <!-- Regresar -->
            <div class="col-2 col-md-2 col-lg-3 d-flex flex-row align-items-center justify-content-start gap-2 ps-md-0">
                <a href="{{ url_for('inicio') }}" id="regresar-button" role="button" aria-label="Regresar a la página de inicio"
                    class="btn btn-sm w-auto chevron">
                    <i class="fa-solid fa-chevron-left"></i> <span class="d-none d-lg-inline-block">Regresar</span>
                </a>
            </div>
            <!-- Título -->
            <div
                class="col-8 col-md-8 col-lg-6 col-xl-5 col-xxl-4 d-flex flex-row align-items-center justify-content-center justify-content-md-start">
                <h2 class="text-center m-0">Accede a tu cuenta</h2>
            </div>
            <!-- Slot vacío -->
            <div class="col-2 col-lg-3 d-flex flex-row align-items-center justify-content-end gap-2 pe-md-0">
                <!-- Vacío -->
            </div>
        </div>

        <!-- Formulario -->
        <div class="row justify-content-center py-4">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5 col-xxl-4 d-flex flex-column ">
                <form action="{{url_for("login")}}" method="post" id="loginForm"
                class="d-flex flex-column">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" id="email" name="email" class="form-control" required autocomplete="email"><br>
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" id="password" name="password" class="form-control" required
                        autocomplete="current-password">

                    <button type="submit" id="button-login"
                    class="btn btn-dark mt-5 mb-2 align-self-center w-100 g-recaptcha" 
                    data-sitekey="{{ site_key }}" data-callback='onLoginFormSubmit' data-action='submit'>
                        Iniciar sesión
                    </button>

                    <p id="message mt-3"></p>
                    {% if error %}
                    <!-- <p style="color: red;">{{ error }}</p> -->
                    {% endif %}
                </form>
        
                <!-- Link hacia crear cuenta -->
                <div class="cuenta my-5 align-self-center ">
                    ¿Aún no tienes cuenta?
                    <a href="{{url_for('register_mail')}}" class="link-primary" style="font-size: inherit;">
                        Crea una cuenta.
                    </a>
                    
                </div>
            </div>
        </div>
    </div>



    <script>
        // ReCAPTCHA callback function to submit the form
        function onLoginFormSubmit(token) {
            document.getElementById("loginForm").requestSubmit();
        }
    </script>

    <!-- JavaScript de Bootstrap y sus dependencias (Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

    <!-- Toasts block -->
    {% include "toasts.html" %}
</body>

</html>