{% block navbar %}
<!-- TODO: Change Vpadding to 45px -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top ">
    <div class="container align-items-baseline py-1 py-md-2 py-xl-3">
        <a class="navbar-brand" href="{{url_for('inicio')}}">Semantic ChatVis</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for("register_mail")}}">Registro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for("login")}}">Iniciar Sesión</a>
                </li>
            </ul>

        </div>
    </div>
</nav>

{% endblock %}