{% block navbar %}
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container align-items-center py-1 py-md-0">
        <a class="navbar-brand" href="{{url_for('dashboard') if 'logged_in' in session else url_for('inicio') }}">
            <i class="fa-solid fa-comments"></i> Semantic ChatVis
        </a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavMenu" aria-controls="collapsibleNavMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavMenu">
            {% if 'logged_in' in session %}
            <ul class="navbar-nav ms-auto mt-lg-0">

                {% if hideNavBarCargarArchivo is not defined %}
                <!-- Cargar archivo -->
                <li class="nav-item" id="navbar-btn-cargar-archivo">
                    <a class="nav-link d-flex flex-row gap-2 flex-md-column gap-md-0 align-items-center" href="{{ url_for('dashboard') }}">
                        <i class="fa-solid fa-upload"></i> 
                        <div class="nav-label">
                            Cargar chat
                        </div>
                    </a>
                </li>
                {% endif %}

                {% if hideNavBarAnalisis is not defined %}
                <!-- Análisis -->
                <li class="nav-item" id="navbar-analisis">
                    <a class="nav-link d-flex flex-row gap-2 flex-md-column gap-md-0 align-items-center" href="{{url_for('analisis')}}">
                        <i class="fa-solid fa-chart-pie"></i>
                        <div class="nav-label">
                            Análisis
                        </div>
                    </a>
                </li>
                {% endif %}

                {% if admin == 1 %}
                {% if hideNavBarUsuarios is not defined %}
                <!-- Tabla de usuarios -->
                <li class="nav-item">
                    <a class="nav-link d-flex flex-row gap-2 flex-md-column gap-md-0 align-items-center"
                        href="{{url_for('admin_tabla')}}">
                        <i class="fa-solid fa-user-group"></i>
                        <div class="nav-label">
                            Usuarios
                        </div>
                    </a>
                </li>
                {% endif %}
                {% endif %}
                
                <!-- Ayuda -->
                <li class="nav-item">
                    <a class="nav-link d-flex flex-row gap-2 flex-md-column gap-md-0 align-items-center" data-bs-toggle="modal"
                        data-bs-target="#modalInfo">
                        <i class="fa-solid fa-circle-question"></i>
                        <div class="nav-label">
                            Ayuda
                        </div>
                    </a>
                </li>

                <!-- Username -->
                <li class="nav-item">
                    <a class="nav-link d-flex flex-row gap-2 flex-md-column gap-md-0 align-items-center">
                        <i class="fa-solid fa-user"></i>
                        <div class="nav-label">
                            {{session['name']|default('Usuario')}}
                        </div>
                    </a>
                </li>

                <!-- Cerrar sesión -->
                <li class="nav-item">
                    <a id="logoutLink" class="nav-link d-flex flex-row gap-2 flex-md-column gap-md-0 align-items-center" href="{{url_for('logout')}}">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        <div class="nav-label">
                            Cerrar sesión
                        </div>
                    </a>
                </li>
                
            </ul>
            {% else %}
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link d-flex flex-row gap-2 flex-md-column gap-md-0 align-items-center" href="{{url_for('register_mail')}}">
                        <i class="fa-solid fa-user-plus"></i>
                        <div class="nav-label">
                            Crear cuenta
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex flex-row gap-2 flex-md-column gap-md-0 align-items-center" href="{{url_for('login')}}">
                        <i class="fa-solid fa-arrow-right-to-bracket"></i>
                        <div class="nav-label">
                            Iniciar sesión
                        </div>
                    </a>
                </li>
            </ul>
            {% endif %}

        </div>
    </div>
</nav>

{% if 'logged_in' in session %}
<!-- Modal Info -->
<div class="modal fade" id="modalInfo" tabindex="-1" aria-labelledby="modalInfoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text">
                <h1 class="modal-title fs-3" id="modalInfoLabel">¿Cómo funciona?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ol class="py-2">
                    <li>Exporta tu conversación de WhatsApp en formato “.txt”.</li>
                    <ul style="list-style-type: '\1F914   ';"> 
                        <li>
                            <strong><a href="https://faq.whatsapp.com/1180414079177245/">
                                    ¿Cómo exportar un chat de WhatsApp? <i
                                        class="fa-solid fa-arrow-up-right-from-square"></i>
                                </a></strong>
                        </li>
                    </ul>
                    <li>Presiona el botón para subir un chat o arrastra tu conversación.</li>
                    <li>ChatVis cargará tu chat, lo analizará, y mostrará los resultados del análisis.</li>
                </ol>
                <div class="alert alert-warning text-center">
                    <p>
                        <strong>¡IMPORTANTE! </strong>Semantic ChatVis <strong>NO guardará</strong> 
                        ningún archivo de chat ni su análisis para proteger tu privacidad.
                    </p>
                    <p class="mb-0">
                        Lee los 
                        <a data-bs-toggle="modal" data-bs-target="#modalToS" class="keep-color">
                            Términos y condiciones de uso
                        </a> 
                        para más información.
                    </p>
                </div>
            </div>
            <div class="modal-footer py-4">
                <!-- Footer About Project -->
                <div class="icon-info">
                    <a class="keep-color" data-bs-toggle="modal" data-bs-target="#modalAbout">
                        Acerca del proyecto
                        <i class="fa-solid fa-circle-info"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal ToS -->
<div class="modal fade" id="modalToS" tabindex="-1" aria-labelledby="modalToSLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-fullscreen-sm-down modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header text">
                <h2 class="modal-title" id="modalToSLabel">Términos y condiciones de uso</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text">
                <div>
                    <div class="section">
                        <h4>Introducción</h4>
                        <p>Bienvenido a Semantic ChatVis. Estos Términos y condiciones de uso (los "Términos") regulan
                            el uso de nuestro
                            sistema web para analizar conversaciones de WhatsApp a partir de archivos .txt. Al acceder a
                            nuestro sistema,
                            usted acepta estos Términos.</p>
                    </div>

                    <div class="section">
                        <h4>Definiciones</h4>
                        <p><strong>ChatVis:</strong> Semantic ChatVis, sistema web para el análisis de conversaciones de
                            WhatsApp a
                            partir de archivos de texto.</p>
                        <p><strong>Usuario:</strong> Persona que se registra y utiliza el sistema ChatVis.</p>
                        <p><strong>Archivo .txt:</strong> Archivo de texto sin formato que contiene conversaciones de
                            WhatsApp
                            exportadas sin imágenes.</p>
                    </div>

                    <div class="section">
                        <h4>Aceptación de los Términos</h4>
                        <p>Al acceder o usar ChatVis, usted acepta cumplir con estos Términos. Si no está de acuerdo con
                            alguna parte de
                            estos Términos, debe dejar de usar el sistema.</p>
                    </div>

                    <div class="section">
                        <h4>Registro y Cuentas</h4>
                        <p>Para usar ChatVis, se requiere iniciar sesión o registrarse como nuevo usuario. El registro
                            es necesario para
                            mantener un control de los usuarios que ingresan al sistema. La información proporcionada
                            durante el registro
                            será utilizada únicamente para fines administrativos y no será compartida con terceros.</p>
                    </div>

                    <div class="section">
                        <h4>Uso del Sistema</h4>
                        <p>Una vez registrado, el usuario puede cargar un archivo .txt para su análisis. Al cargar el
                            archivo, ChatVis
                            analizará las conversaciones y presentará:</p>
                        <ul>
                            <li>La conversación del archivo: El texto contenido en el archivo .txt.</li>
                            <li>Gráfica de relaciones: Representación visual de la interacción entre las personas en la
                                conversación.</li>
                            <li>Gráfica de análisis de texto: Categoriza las conversaciones en tres tipos:</li>
                            <ul>
                                <li><strong>Código:</strong> Conversaciones que contienen código de programación.</li>
                                <li><strong>Organización:</strong> Conversaciones relacionadas con la organización de
                                    actividades.</li>
                                <li><strong>Intrascendente:</strong> Conversaciones que no encajan en las categorías
                                    anteriores.</li>
                            </ul>
                        </ul>
                    </div>

                    <div class="section">
                        <h4>Privacidad y Seguridad</h4>
                        <p>ChatVis no guarda ninguna de las conversaciones cargadas por los usuarios. Todo el análisis
                            se realiza en
                            tiempo real y no se almacena información personal ni de las conversaciones por motivos de
                            seguridad y
                            privacidad. La única finalidad del registro es para que los administradores puedan consultar
                            cuántos usuarios
                            utilizan el sistema.</p>
                    </div>

                    <div class="section">
                        <h4>Conducta del Usuario</h4>
                        <p>Al usar ChatVis, el usuario acepta no cargar archivos que contengan contenido ilegal,
                            ofensivo, o que
                            infrinja los derechos de propiedad intelectual de terceros. El usuario es responsable del
                            contenido que carga
                            y del uso que haga del sistema.</p>
                    </div>

                    <div class="section">
                        <h4>Limitación de Responsabilidad</h4>
                        <p>ChatVis no será responsable de cualquier daño o pérdida derivada del uso del sistema,
                            incluidos, entre otros,
                            errores en el análisis, pérdidas de datos, o cualquier daño consecuente. El usuario usa el
                            sistema bajo su
                            propio riesgo.</p>
                    </div>

                    <div class="section">
                        <h4>Modificaciones de los Términos</h4>
                        <p>ChatVis se reserva el derecho de modificar estos Términos en cualquier momento. Cualquier
                            cambio será
                            comunicado a los usuarios registrados a través de la plataforma. El uso continuado del
                            sistema después de
                            dichos cambios constituye la aceptación de los nuevos términos.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Entendido</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal About -->
<div class="modal fade" id="modalAbout" tabindex="-1" aria-labelledby="modalAboutLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3" id="modalAboutLabel">Acerca del Proyecto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="">
                    <p class="mb-3">
                        Este proyecto funciona gracias a las siguientes bibliotecas:
                    </p>
                    <ul style="list-style-type: '→  ' ">
                        <li><a href="https://flask.palletsprojects.com/en/3.0.x/">Flask</a></li>
                        <li><a href="https://spacy.io/">spaCy</a></li>
                        <li><a href="https://www.mongodb.com/">MongoDB</a></li>
                        <li><a href="https://github.com/Pustur/whatsapp-chat-parser">WhatsApp Chat Parser</a></li>
                        <li><a href="https://d3js.org/">D3.js</a></li>
                        <li><a href="https://getbootstrap.com/">Bootstrap</a></li>
                        <li><a href="https://jquery.com/" >jQuery</a></li>
                        <li><a href="https://fontawesome.com/">FontAwesome</a></li>
                        <li><a href="https://nodejs.org/">Node.js</a></li>
                        <li><a href="https://fonts.google.com/">Google Fonts</a></li>
                        <li><a href="https://apvarun.github.io/toastify-js/">Toastify</a></li>
                    </ul>
                </div>
                <br>
                <div class="text" style="text-align: center;">
                    Basado en el trabajo de<br>
                    <a href="http://bl.ocks.org/nbremer/864b11eb83aac3a1f6a2">Nadieh Bremer</a> & <a
                        href="http://www.visualcinnamon.com/">VisualCinnamon.com</a> <br>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Navbar Script -->
<script>
    var navbarIsCollapsed = false;
    var navbarTimeout;

    document.addEventListener('DOMContentLoaded', function () {
        if(sessionStorage.getItem('chat_file_content') === null) {
            document.getElementById('navbar-analisis').classList.add('d-none');
        }

        document.getElementById('logoutLink').addEventListener('click', function () {
            sessionStorage.clear();
        });
    });

    // Collapse navbar script
    window.onscroll = function () {
        clearTimeout(navbarTimeout);

        navbarTimeout = setTimeout(function (){
            if (window.scrollY > 60) {
                collapseNavbar();
            } else {
                expandNavbar();
            }
        }, 50);
    };

    function collapseNavbar() {
        document.querySelector('.navbar').classList.add('collapsed');
        document.querySelectorAll('.nav-link').forEach(link => {
            link.classList.add('collapsed');
            link.classList.remove('gap-md-0');
        });
        document.querySelectorAll('.nav-label').forEach(label => {
            label.classList.add('collapsed');
        });
        navbarIsCollapsed = true;
    }

    function expandNavbar() {
        document.querySelectorAll('.nav-label').forEach(label => {
            label.classList.remove('collapsed');
        });
        document.querySelectorAll('.nav-link').forEach(link => {
            link.classList.remove('collapsed');
            link.classList.add('gap-md-0');
        });
        document.querySelector('.navbar').classList.remove('collapsed');
        navbarIsCollapsed = false;
    }

    function toggleNavbarCollapse() {
        if (navbarIsCollapsed) {
            expandNavbar();
        } else {
            collapseNavbar();
        }
    }
</script>

{% endif %}

{% endblock %}