<!DOCTYPE html>
<html lang="es-MX">

<head>
  <meta charset="UTF-8">
  <title>Analizador - Semantic ChatVis</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- CSS de Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <!-- Estilos gráficas -->
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <!-- Dependencias -->
  <!-- * D3: https://github.com/d3/d3 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
  <!-- * WhatsApp Chat Parser: https://github.com/Pustur/whatsapp-chat-parser -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/whatsapp-chat-parser/dist/whatsapp-chat-parser.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/whatsapp-chat-parser@4.0.0/dist/index.global.js"></script>
  <!-- * Google Fonts -->
  <!-- <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'> -->
  <link href='https://fonts.googleapis.com/css2?family=Noto+Sans' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
  <!-- CDN de FontAwesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

  <style scoped>
    .botones-pestañas {
      display: flex;
      justify-content: center;
      padding: 10px;
    }

    .navUser {
      display: flex;
      flex-direction: row;
      border-bottom: 2px solid #d1d1d1;
      height: 80px;
      background-color: white;
    }

    .seccion1 {
      width: 90%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-left: 30px;
      padding-right: 30px;
    }

    .seccion2 {
      width: 10%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      padding-right: 30px;
    }

    .icon-button {
      padding: 5px;
      width: auto;
      height: auto;
      border: none;
    }

    a:link,
    a:visited,
    a:active {
      text-decoration: none;
      color: rgb(44, 44, 44);
      font-size: 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .text {
      text-decoration: none;
      color: rgb(44, 44, 44);
      font-size: 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .small-text {
      text-decoration: none;
      color: rgb(0, 0, 0);
      font-size: 15px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    a:hover {
      color: #2cb983;
    }

    .btn-outline-secondary {
      color: black;
      font-weight: 500;
    }

    .nav {
      padding: 10px 100px;
    }

    .btn-dark {
      color: white;
    }

    .nav-link {
      color: black;
      font-size: 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-decoration: none;
    }

    .nav-link:hover {
      color: #2cb983;
    }

    .center {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 0 auto;
      padding-top: 20px;
    }

    .tableUsers {
      border-radius: 10px;
      box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    }

    .modal-footer{
      display: flex;
      justify-content: center;
    }
  </style>
</head>

<body>
  <!-- Navbar -->
  <div class="navUser">
    <div class="seccion1">
      <div class="title-inter">
        <a href="{{ url_for('tabla_admin') }}">Chatvis Analyzer</a>
      </div>
      <label for="whatsChatSinAnimaciones" class="nav-link">
        <div class="btn btn-dark" id="uploadButton" style="display: none;">
          <i class="fa-solid fa-upload"></i> Subir Archivo
          <input style="display: none;" type="file" id="whatsChatSinAnimaciones">
        </div>
      </label>
    </div>
    <div class="seccion2">
      <div class="icon-info">
        <button class="btn icon-button text" data-bs-toggle="modal" data-bs-target="#modalInfo">
          <i class="fa-solid fa-circle-question fa-xl" style="color: #a3a3a3"></i> Ayuda
        </button>
      </div>
      <div class="line text" style="color: #a3a3a3">|</div>
      <div class="profile-icon">
        <div class="btn-group" role="group">
          <button class="btn icon-button dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-user fa-xl" style="color: #a3a3a3"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">{{name}}</a></li>
            <hr>
            <li><a class="dropdown-item" href="{{url_for('logout')}}">Cerrar Sesión</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Info -->
  <div class="modal fade" id="modalInfo" tabindex="-1" aria-labelledby="modalInfoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header text">
          <h1 class="modal-title fs-3" id="modalInfoLabel">¿Cómo funciona?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text">
          <ul>
            <li>Importa tu conversación de WhatsApp en formato “.txt”.</li>
            <ul style="list-style-type: '\2753';">
              <li>
                <h5><a href="https://faq.whatsapp.com/es/android/23756533/" target="_blank">¿Cómo exportar un chat de
                    WhatsApp?</a></h5>
              </li>
            </ul>
            <li>Presiona el botón de subir archivo o arrastra tu conversación.</li>
            <li>El analizador ChatVis subirá tu archivo, lo analizará, y mostrará el resultado.</li>
          </ul>
          <div class="alert alert-warning text" style="text-align: center;">
            <strong>¡IMPORTANTE! </strong>Semantic ChatVis <strong style="text-decoration: underline;">NO
              guardará</strong> ninguna conversación analizada para mantener su privacidad. Lea <a href="" data-bs-toggle="modal" data-bs-target="#modalToS" style="text-decoration: underline;">Términos y Condiciones</a> para más información.
          </div>
          <!-- Footer About Project -->
          <div style="text-align: center;">
            <div class="icon-info">
              <button class="btn icon-button text" data-bs-toggle="modal" data-bs-target="#modalAbout">
                Acerca del proyecto
                <i class="fa-solid fa-circle-info fa-lg" style="color: #a3a3a3"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal ToS -->
  <div class="modal fade" id="modalToS" tabindex="-1" aria-labelledby="modalToSLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header text">
        <h1 class="modal-title fs-3" id="modalToSLabel">Términos y Condiciones de Chatvis Analyzer</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text">
            <div>
                <div class="section">
                    <h2>Introducción</h2>
                    <p>Bienvenido a Chatvis. Estos términos y condiciones (los "Términos") regulan el uso de nuestro sistema web para analizar conversaciones de WhatsApp a partir de archivos .txt. Al acceder a nuestro sistema, usted acepta estos Términos.</p>
                </div>

                <div class="section">
                    <h2>Definiciones</h2>
                    <p><strong>Chatvis:</strong> Sistema web para el análisis de conversaciones de WhatsApp a partir de archivos de texto.</p>
                    <p><strong>Usuario:</strong> Persona que se registra y utiliza el sistema Chatvis.</p>
                    <p><strong>Archivo .txt:</strong> Archivo de texto sin formato que contiene conversaciones de WhatsApp importadas sin imágenes.</p>
                </div>

                <div class="section">
                    <h2>Aceptación de los Términos</h2>
                    <p>Al acceder o usar Chatvis, usted acepta cumplir con estos Términos. Si no está de acuerdo con alguna parte de estos Términos, debe dejar de usar el sistema.</p>
                </div>

                <div class="section">
                    <h2>Registro y Cuentas</h2>
                    <p>Para usar Chatvis, se requiere iniciar sesión o registrarse como nuevo usuario. El registro es necesario para mantener un control de los usuarios que ingresan al sistema. La información proporcionada durante el registro será utilizada únicamente para fines administrativos y no será compartida con terceros.</p>
                </div>

                <div class="section">
                    <h2>Uso del Sistema</h2>
                    <p>Una vez registrado, el usuario puede cargar un archivo .txt para su análisis. Al cargar el archivo, Chatvis analizará las conversaciones y presentará:</p>
                    <ul>
                        <li>La conversación del archivo: El texto contenido en el archivo .txt.</li>
                        <li>Gráfica de relaciones: Representación visual de la interacción entre las personas en la conversación.</li>
                        <li>Gráfica de análisis de texto: Categoriza las conversaciones en tres tipos:</li>
                        <ul>
                            <li><strong>Código:</strong> Conversaciones que contienen código de programación.</li>
                            <li><strong>Organización:</strong> Conversaciones relacionadas con la organización de actividades.</li>
                            <li><strong>Intrascendente:</strong> Conversaciones que no encajan en las categorías anteriores.</li>
                        </ul>
                    </ul>
                </div>

                <div class="section">
                    <h2>Privacidad y Seguridad</h2>
                    <p>Chatvis no guarda ninguna de las conversaciones cargadas por los usuarios. Todo el análisis se realiza en tiempo real y no se almacena información personal ni de las conversaciones por motivos de seguridad y privacidad. El registro es solo para que el administrador pueda ver cuántos usuarios han usado el sistema.</p>
                </div>

                <div class="section">
                    <h2>Conducta del Usuario</h2>
                    <p>Al usar Chatvis, el usuario acepta no cargar archivos que contengan contenido ilegal, ofensivo, o que infrinja los derechos de propiedad intelectual de terceros. El usuario es responsable del contenido que carga y del uso que haga del sistema.</p>
                </div>

                <div class="section">
                    <h2>Limitación de Responsabilidad</h2>
                    <p>Chatvis no será responsable de cualquier daño o pérdida derivada del uso del sistema, incluidos, entre otros, errores en el análisis, pérdidas de datos, o cualquier daño consecuente. El usuario usa el sistema bajo su propio riesgo.</p>
                </div>

                <div class="section">
                    <h2>Modificaciones de los Términos</h2>
                    <p>Chatvis se reserva el derecho de modificar estos Términos en cualquier momento. Cualquier cambio será comunicado a los usuarios registrados a través de la plataforma. El uso continuado del sistema después de dichos cambios constituye la aceptación de los nuevos términos.</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Entendido</button>
            </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal About -->
  <div class="modal fade" id="modalAbout" tabindex="-1" aria-labelledby="modalAboutLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header text">
          <h1 class="modal-title fs-3" id="modalAboutLabel">Acerca del Proyecto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text">
          <div class="text">
            Bibliotecas usadas:<br>
            <ul class="text">
              <li><a href="https://jquery.com/" target="_blank">jQuery</a></li>
              <li><a href="https://fonts.google.com/" target="_blank">Google Fonts</a></li>
              <li><a href="https://github.com/Pustur/whatsapp-chat-parser" target="_blank">WhatsApp Chat Parser</a></li>
              <li><a href="https://d3js.org/" target="_blank">D3.js</a></li>
              <li><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a></li>
              <li><a href="https://fontawesome.com/" target="_blank">FontAwesome</a></li>
              <li><a href="https://spacy.io/" target="_blank">spaCY</a></li>
              <li><a href="https://flask.palletsprojects.com/en/3.0.x/" target="_blank">Flask</a></li>
              <li><a href="https://www.mongodb.com/" target="_blank">MongoDB</a></li>
              <li><a href="https://nodejs.org/" target="_blank">Node.js</a></li>
              <li><a href="https://cdnjs.com/libraries/toastify-js/1.6.1" target="_blank">Toastify</a></li>
            </ul>
          </div>
          <br>
          <div class="text" style="text-align: center;">
            Basado en el trabajo de<br>
            <a href="http://bl.ocks.org/nbremer/864b11eb83aac3a1f6a2" target="_blank">Nadieh Bremer</a> & <a
              href="http://www.visualcinnamon.com/" target="_blank">VisualCinnamon.com</a> <br>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Toogle Usuarios | Analizador -->
  <div class="botones-pestañas" id="noAdminToggle">
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked />
      <label class="btn btn-outline-secondary text" for="btnradio1" onclick="redirectToUsuarios()">
        <i class="fa-solid fa-user-group"></i> Usuarios
      </label>
      <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" />
      <label class="btn btn-outline-secondary text" for="btnradio2" onclick="redirectToAnalizador()">
        Analizador <i class="fa-solid fa-chart-pie"></i>
      </label>
    </div>
  </div>

  <!-- Table -->
  <main id="noAdminTable">
    <div>
      <table class="table align-middle center text " style="text-align: center;">
        <thead>
          <tr>
            <th scope="col" style="width: 80px;" data-sort="numero">#</th>
            <th scope="col" style="width: 300px;" data-sort="nombre">Nombre</th>
            <th scope="col" style="width: 200px;" data-sort="universidad">Universidad</th>
            <th scope="col" style="width: 200px;" data-sort="estado">Estado</th>
            <th scope="col" style="width: 200px;" data-sort="ciudad">Ciudad</th>
            <th scope="col" style="width: 200px;" data-sort="uso">Creación de cuenta</th>
            <th scope="col" style="width: 80px;" data-sort="numero">Borrar</th>
          </tr>
        </thead>
        <tbody id="table-body">
          {% for usuario in users %}
          <tr>
            <td style="width: 80px;">
              <p>{{ usuario.contador }}</p>
            </td>
            <td style="width: 300px;">{{ usuario.nombre }} {{ usuario.apellido_paterno }} {{ usuario.apellido_materno }}
            </td>
            <td style="width: 200px;">{{ usuario.universidad }}</td>
            <td style="width: 200px;">
              <script>
                // Objeto de mapeo de números de estado a nombres de estado
                var nombresEstados = {
                  '1': 'Aguascalientes',
                  '2': 'Baja California',
                  '3': 'Baja California Sur',
                  '4': 'Campeche',
                  '5': 'Coahuila',
                  '6': 'Colima',
                  '7': 'Chiapas',
                  '8': 'Chihuahua',
                  '9': 'Ciudad de México',
                  '10': 'Durango',
                  '11': 'Guanajuato',
                  '12': 'Guerrero',
                  '13': 'Hidalgo',
                  '14': 'Jalisco',
                  '15': 'México',
                  '16': 'Michoacán',
                  '17': 'Morelos',
                  '18': 'Nayarit',
                  '19': 'Nuevo León',
                  '20': 'Oaxaca',
                  '21': 'Puebla',
                  '22': 'Querétaro',
                  '23': 'Quintana Roo',
                  '24': 'San Luis Potosí',
                  '25': 'Sinaloa',
                  '26': 'Sonora',
                  '27': 'Tabasco',
                  '28': 'Tamaulipas',
                  '29': 'Tlaxcala',
                  '30': 'Veracruz',
                  '31': 'Yucatán',
                  '32': 'Zacatecas'
                };
                // Obtener el número de estado desde la variable usuario.estado
                var numeroEstado = "{{ usuario.estado }}";
                // Mostrar el nombre correspondiente en el <td>
                document.write(nombresEstados[numeroEstado]);
              </script>
            </td>
            <td style="width: 200px;">{{ usuario.ciudad }}</td>
            <td style="width: 200px;">{{ usuario.date }}</td>
            <td style="width: 80px;">
              {% if usuario.admin == 1 %}
              <i class="fa-solid fa-trash-can" style="color: #dfdfdf"></i>
              {% else %}
              <a href="{{ url_for('eliminar_usuario', email=usuario.email) }}">
                <i class="fa-solid fa-trash-can" style="color: #242424"></i></a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br><br><br>
    </div>
  </main>

  <!-- Warning No Admin -->
  <main id="showNoAdmin" style="display: none;">
    <div class="text center">
      <h1 style="font-size: 80pt;">¿Cómo llegaste aquí?</h1>
      <h1 style="font-size: 40pt;">Esta es un área de administradores</h1>
    </div>
  </main>

  <!-- Is Admin? -->
  <div id="adminValue" style="display: none;">{{ admin }}</div>

  <!-- Script Toogle Usuarios | Analizador -->
  <script>
    var urls = {
      dashboard: "{{ url_for('dashboard') }}",
      tabla_admin: "{{ url_for('tabla_admin') }}"
    };
  </script>

  <!-- * jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <!-- Bootstrap Javascript -->
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>

  <!-- Opcional, solo si necesitas jQuery para otros componentes -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>

  <!-- Necesario para tooltips, popovers y dropdowns -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
  
  <!-- JavaScript de Bootstrap y sus dependencias (Popper) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous">
  </script>

  <script src="{{ url_for('static', filename='js/bootstrap.tooltip.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.popover.js') }}"></script>
  <script src="{{ url_for('static', filename='js/chordDiagram.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  <script src="{{ url_for('static', filename='js/tabla_admin-toogle-usr.js') }}"></script>

  <!-- Extras -->
  <script src="/static/js/d3.layout.chord.sort.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  <!-- Sweet alert -->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <!-- Toasts block -->
  {% include "toasts.html" %}
</body>

</html>